.ip-info {
    display: flex;
    margin: 20px 10px 10px 10px;
}

.ip-info > *:first-of-type {
    width: 25%;
    margin-right: 5px;
}


.ip-info > *:last-of-type {
    width: 75%;
    margin-left: 5px;
}

.ip-info > div > div.ant-card-body {
    padding: 0;
}

.ip-class {
    text-align: center;
    margin-top: 5px;
}

.ip-class > div {
    display: flex;
}

.ip-class > div > div {
    width: 50%;
}

.ip-class > div > div > div {
    font-weight: bold;
    font-size: larger;
}
